<div class="container">
    <a class="topBanner" href="https://itunes.apple.com/us/app/mi-misecret/id880007797?ls=1&mt=8" target="_blank">
        <div class="topBanner-content" >
            唯恐天下不乱？<br /><small>用原版「秘密」</small>
        </div>
        <div class="logo-right" data-entranceAnimation="fadeInRight">
            <img src="app/img/fox-right.png">
        </div>
    </a>
    <div class="post backgroundColor-{{getRandomColor}}">
        <div class="post-mask backgroundMask-{{getRandomMask}} insetShadow">
        </div>
        <div class="post-content">
            {{content}} 
        </div>
        <div class="post-meta">
            <div class="post-location">{{source}}</div>
            <div class="post-info">
                <div class="post-commentsCount"><i class="icon-comment"></i>{{commentsCount}}</div>
                <div class="post-lovesCount"><i class="icon-heart"></i>{{lovesCount}}</div>
            </div>
        </div>
    </div>
    <ul class="comments">
        {{#comments}}
        <li class="comment clearfix"  data-entranceAnimation="fadeInDown">
            <div class="comment-col-1">
                <div class="avatar">
                    <div class="avatarBackground backgroundColor-{{getRandomColorWithoutVanilla}}">
                    </div>
                    <img src="app/img/secret/avatar-{{getRandomIcon}}@2x.png" />
                </div>
            </div>
            <div class="comment-col-2">
                <div class="comment-content">{{.}}</div>
            </div>
        </li>
        {{/comments}}
        
        <li class="comment comment-more clearfix">
            <div class="comment-col-1">
                <div class="avatar">
                </div>
            </div>
            <div class="comment-col-2">
                <div class="comment-content">{{#isHidingComments}}有 {{hideCommentsCount}} 条评论被隐藏了...<br />{{/isHidingComments}}下载「秘密」，看看朋友还说了什么</div>
            </div>
        </li>
        
    </ul>
</div>

<a id="btnLink" href="https://itunes.apple.com/us/app/mi-misecret/id880007797?ls=1&mt=8" class="btn btn-primary btn-lg btn-block"  data-entranceAnimation="fadeInDown"><i class="fa fa-apple fa-2x pull-left"></i>「秘密」，天机可以泄露<br><small>Available on the App Store</small>

</a>

<div class="qrcode"  data-entranceAnimation="fadeInDown">
                <img src="http://secret.seemeloo.com/home/images/qrcode.png" />
</div>