<div class="container boxShadow">
    <a class="topBanner backgroundColor-Vanilla" href="https://itunes.apple.com/us/app/mi-misecret/id880007797?ls=1&mt=8" target="_blank">
        <div class="topBanner-content" >
            来自原版秘密<small>——不要告诉别人哦</small>
        </div>
        <div class="logo-right">
            <img src="app/img/fox-right.png">
        </div>
    </a>
    <div class="post backgroundColor-Skyfall">
        <div class="post-mask backgroundMask-Disco insetShadow">
        </div>
        <div class="post-content">
            狼厂这个点还加班，还有人性么！
        </div>
        <div class="post-meta">
            <div class="post-location">Los Angeles</div>
            <div class="post-info">
                <div class="post-commentsCount"><i class="icon-comment"></i>76</div>
                <div class="post-lovesCount"><i class="icon-heart"></i>370</div>
            </div>
        </div>
    </div>
    <ul class="comments">
        <li class="comment clearfix">
            <div class="comment-col-1">
                <div class="avatar">
                    <div class="avatarBackground backgroundColor-Skyfall">
                    </div>
                    <img src="app/img/secret/avatar-bird.png" />
                </div>
            </div>
            <div class="comment-col-2">
                <div class="comment-content">You mean Faire</div>
            </div>
        </li>
        <li class="comment clearfix">
            <div class="comment-col-1">
                <div class="avatar">
                    <div class="avatarBackground backgroundColor-Cash">
                    </div>
                    <img src="app/img/secret/avatar-bird.png" />
                </div>
            </div>
            <div class="comment-col-2">
                <div class="comment-content">狼厂这个点还加班，还有人性么！狼厂这个点还加班，还有人性么！</div>
            </div>
        </li>
        <li class="comment clearfix">
            <div class="comment-col-1">
                <div class="avatar">
                </div>
            </div>
            <div class="comment-col-2">
                <div class="comment-content">...</div>
            </div>
        </li>
        <li class="comment-download clearfix">
            <a class="" href="https://itunes.apple.com/us/app/mi-misecret/id880007797?ls=1&mt=8" target="_blank">
                <img src="app/img/secret/logo-foxhole.png" />
                <p>广告语广告语</p>
            </a>
            <div class="qrcode">
                <img src="app/img/qrcode.png" />
            </div>
            <div class="comment-download-footer "></div>
        </li>
    </ul>
</div>